

.preloader{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:100vw;
  height:100vh;
  background: #111;
  visibility:hidden;
  opacity:0;
  transition:all 0.5s ease;
  z-index:99999999999999;
}
.preloader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  font-size: 3em;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: white;
}

.show{

  visibility:visible !important;
  opacity:1 !important;
  transition:all 0.5s ease;
}

.switch {

  position: relative;

}

img {

  width: 400px;

}

.switch:hover {

opacity: 50%;

}

.navbar {

  display: flex;
    align-items: center;
    justify-content: space-between;
padding-left: 32px;
  padding-top: 32px;
}

.right {

  display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



#CONTACT {

width: 100%;
display: none;
z-index: -1;
animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;

}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



#SURFACES {

  display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;


  }

  .intro {

  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.QUOI {

position: relative;
  padding-left: 32px;

}

.QUI {

position: relative;
  padding-left: 32px;

}

.COMMENT {

position: relative;
padding: 75px;
  padding-left: 32px;
}


.images {

align-items: center;


}


h1 {

font-size: 120px;
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 700;
font-style: normal;

}

h2 {

  font-size: 50px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-left: 32px;
}


p {

font-size: 100px;
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 300;
font-style: normal;
margin: auto;
margin-top: 15px;

}

.container {

display: grid;
grid-template-columns: 1fr 1fr;
flex-direction: row-reverse;
text-align: center;
margin-top: 20px;


}

.nom {

  font-size: 70px;
  padding-top: 10px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.txt {

  font-size: 35px;
padding: 25px;
padding-top: 0px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;

}

.mySlides {

padding: 25px;

}

.paragraphe {


}

.mail {

margin: 5px;
  font-size: 50px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
  color: black;

}

.insta {

margin: 5px;
font-size: 50px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
    color: black;
    padding: 5px;

}

.adresse {

margin: 5px;
  font-size: 50px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
      color: black;
      padding: 5px;

}

.réseaux {

display: flex;
flex-direction: column;
padding-left: 32px;


}


@media screen and (max-width:1000px) {


.container {

display: flex;
 flex-direction: column;
 padding: 0px;
 margin-top: 25px;


}


p {

margin: 0px;
font-size: calc(20px + 4vw);
  hyphens: auto;
}

.mail {

font-size: calc(5px + 3.3vw);

}

h1 {
  font-size: calc(20px + 3.3vw);
}

.txt {

font-size: calc(10px + 2vw);
margin: auto;
padding-left: 15px;


}

img {

width: 50%;

}

.nom {

font-size: calc(30px + 3.3vw);
margin: auto;
padding: 15px;
}


.QUOI {

padding-left: 15px;
padding-top: 5px;
margin: auto;

}

.COMMENT {

padding: 25px;

}

.QUI {

  padding: 25px;


}


.mySlides {


padding: 0px;
flex-basis: 100%;


}

.mail {


  font-size: calc(15px + 2vw);
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0px;
  color: black;

}

.insta {


font-size: calc(15px + 2vw);
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
    color: black;
    padding: 0px;

}

.adresse {


font-size: calc(15px + 2vw);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
      color: black;
      padding: 0px;

}

.réseaux {

padding: 0px;

}

h2 {

  font-size: calc(15px + 3.3vw);
padding: 0px;

}

.navbar {

  display: flex;
    align-items: center;
    justify-content: space-between;
padding-left: 15px;
  padding-top: 15px;
}


}
