

.switch {

  position: relative;
  width: 200px;


}

.switch:hover {

opacity: 50%;

}

.navbar {

  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

}

.right {

  display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



#CONTACT {

width: 100%;
display: none;
z-index: -1;
animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;

}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



#SURFACES {

  display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;


  }

  .intro {

  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.QUOI {

  padding: 100px;
  margin-top: 70px;
}

.COMMENT {

padding: 100px;

}


.images {

align-items: center;


}

img{

width: 80%;

}


h1 {

font-size: 100px;
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 700;
font-style: normal;

}


p {

font-size: 50px;
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 300;
font-style: normal;


}

.container {

display: grid;
grid-template-columns: 1fr 1fr;
flex-direction: row-reverse;
text-align: center;
padding-left: 50px;
padding-right: 50px;
margin-top: 20px;


}

.nom {

  font-size: 70px;
  padding-top: 10px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.txt {

  font-size: 35px;
padding: 25px;
padding-top: 0px; 
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;

}

.mySlides {

padding: 25px;

}

.paragraphe {


}

.mail {

  margin: 25px;
  font-size: 50px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 50px;
  color: black;

}

.insta {

padding: 50px;
width: 25%;

}

.réseaux {

display: flex;
align-items:center;
justify-content: center;


}


@media screen and (max-width:1000px) {


.container {

display: flex;
 flex-direction: column;
 padding: 25px;
 margin-bottom: 50px;


}

p {

font-size: calc(5px + 3.3vw);

}

.mail {

font-size: calc(5px + 3.3vw);

}

h1 {
  font-size: calc(15px + 3.3vw);
}

.txt {

font-size: calc(15px + 2vw);
margin: auto;

}

.nom {

font-size: calc(30px + 3.3vw);

}


.QUOI {

padding: 25px;

}

.COMMENT {

padding: 25px;

}

.mySlides {


padding: 25px;
flex-basis: 100%;


}

}
